{% if collection.handle == 'all-products' %}
<style>
  :root {
    /* Hide image */
    --spark-pdp-image: none;
  }
  </style>
  {% endif %}
{%- assign preview_image = product_card_product.featured_media.preview_image -%}
 
<div class="list-view-item">

  <div class="list-view-name-image">
    <div class="list-view-image">
      <a href="{{ card_product.url | default: '#' }}">
        <img
            srcset="{{ card_product.featured_media | img_url: '265x' }} 265w"
            src="{{ card_product.featured_media | img_url: '265x' }} 265w"
          alt="{{ card_product.featured_media.alt | escape }}"
            loading="lazy"
            class="motion-reduce"
            width="80"
            height="80"
          >
        </a>
    </div>
  
    <div class="list-view-name">
      <h3>
        <a href="{{ card_product.url | default: '#' }}" class="full-unstyled-link">
          {{ card_product.title | escape }}
        </a>
      </h3>
    </div>

  </div>

  <div class="list-view-purchase">

  {%- if customer.metafields.sparklayer.authentication -%}
    <spark-pdp mode-quick-buy parent-id="{{ card_product.id }}"></spark-pdp>

  {%- else -%}
    <div style="font-size: 14px; text-align: right;">
      Please <a href="/account" style="text-decoration: underline; color: #000">sign in</a>  to see  pricing
    </div>

  {%- endif -%}
  
  </div>


</div>  
